h3= data.name
if !data.photo
    p
        img(src='https://res.cloudinary.com/dxdvxsi7g/image/upload/c_thumb,w_200,g_face/v1558713550/avatar_k6cb63.png')
if data.photo
    p
        img(src=data.photo)
if data.car.length === 0
    p This user has no cars.
if data.car
    ul
        for car in data.car
            li #{car.make} #{car.model} (#{car.colour})

p Upload as profile Photo
form(mehtod='post', action='/upload', enctype='multipart/form-data')
    input(type='file', name='file')
    inout(type='hidden', value=data.id, name='id')
    input(type="submit", value='Upload')


p
    a(href='/') Go back
